* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #fef5ac; */
}
.App > h1 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #01042c;
}
.App {
  text-align: center;
}

.CreditSummary {
  margin: 10px;
}

.table {
  border: 1px solid red;
  margin: auto;
}

.calculateForm {
  background-color: #2c3566;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: fit-content;
  margin: auto;
  padding: 3rem;
}

.divForm{
  background-color: #2c3566;
}


div>label {
  background-color: #2c3566 !important;
  color: #fef5ac;
}

div > label > input,
select {
  margin-left: 10px;
  padding: 3px;
  background-color: #c9d1e7cb;
  border-radius: 5px;
}

div > label > select {
  cursor: pointer;
  color: #010644;
}

button {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.taxInformation{
  color: #01042c;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
