* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #fef5ac; */
}
.App > h1 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #01042c;
}
.App {
  text-align: center;
}
